h4 {
    text-align: center;
    display: block;
    font-family: Arial;
    margin-bottom: 20px;
}

.imageAdroite {
    width: 35%;
    display: inline-block;
    float: right;
}

div#contenue {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

h5 {
    text-align: left;
    display: block;
    font-family: Arial;
    margin-bottom: 20px;
}

p.smallWidth {
    display: inline-block;
    width: 60%;
    margin: 0;
}
